.calculator {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 56%, rgba(252, 70, 107, 1) 100%);
}

#display {
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  position: relative;
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  outline: none;
  height: 50px;
  width: 80px;
}

button#equals {
  background-color: #fa9d07;
  color: black;
  width: 130px;
}

button#clear {
  background-color: #ff2007;
  color: white;
  width: 130px;
}

button#add {
  background-color: rgb(71, 64, 64);
}

button#subtract {
  background-color: rgb(71, 64, 64)
}

button#multiply {
  background-color: rgb(71, 64, 64)
}

button#divide {
  background-color: rgb(71, 64, 64)
}

button#decimal {
  background-color: rgb(71, 64, 64)
}
button:hover {
  background-color: #444;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  color: #EEAECA;
  color: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.App, html {
  background-image: url('/Numbers.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  
}