.calculator {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #d1cbcb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

#display {
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  position: relative;
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  outline: none;
  height: 50px;
  width: 80px;
}

button#equals {
  background-color: #f39c12;
  color: #333;
  width: 130px;
}

button#clear {
  background-color: #e74c3c;
  color: #fff;
  width: 130px;
}

button#add {
  background-color: gray;
}

button#subtract {
  background-color: gray
}

button#multiply {
  background-color: gray
}

button#divide {
  background-color: gray
}

button#decimal {
  background-color: gray
}
button:hover {
  background-color: #444;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}